
   .border-card {
    border-bottom: solid 5px;
     transition:  border-color green;
   }
   .border-card:hover { 
     border-bottom-color: green !important; 
     border-bottom: solid 5px;
     }

     .border-card2 {
        border-bottom: solid 5px;
         transition:  border-color #A569BD;
       }
       .border-card2:hover { 
         border-bottom-color: #A569BD !important; 
         border-bottom: solid 5px;
         }

         .border-card3 {
            border-bottom: solid 5px;
             transition:  border-color #3379FF;
           }
           .border-card3:hover { 
             border-bottom-color: #3379FF !important; 
             border-bottom: solid 5px;
             }

.color-texto{
  color: #A569BD !important;
}
.color-texto2{
    color: green;
}

.color-texto3{
    color: #3379FF !important;
}

.titulo-categoria {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #333;
  font-size: 1.5rem;
  border-bottom: 3px solid salmon !important;
  display: inline-block;
  padding-bottom: .5rem;
  padding-right: 2rem;
  text-transform: uppercase !important;
}

.imagen-catalogo{
  width: 45% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.titulos{
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase !important;
}

