.border-button {
  // border-bottom: solid 5px;
  transition:  border-color red;
}
  
  .border-button:hover { 
    border-color: red !important; 
    border-bottom: solid 3px;
    }

.border-button2 {
  // border-bottom: solid 5px;
  transition:  border-color green;
}
    
  .border-button2:hover { 
    border-color: green !important; 
    border-bottom: solid 3px;
  }

  .border-button3 {
    // border-bottom: solid 5px;
    transition:  border-color #A569BD;
  }
      
    .border-button3:hover { 
      border-color: #A569BD !important; 
      border-bottom: solid 3px;
    }
    .border-button4 {
      // border-bottom: solid 5px;
      transition:  border-color blue;
    }
        
      .border-button4:hover { 
        border-color: blue !important; 
        border-bottom: solid 3px;
      }
      .border-button5 {
        // border-bottom: solid 5px;
        transition:  border-color orange;
      }
          
        .border-button5:hover { 
          border-color: orange !important; 
          border-bottom: solid 3px;
        }
    